body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  min-width: 400px;
}

h1 {
  text-align: center;
  font-size: 24px;
}

#table-container {
  margin-top: 20px;
}

.table-group {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.button-container {
  margin-top: 10px;
}

button {
  padding: 8px 12px;
  background-color: orange; /* Changed from #0077cc to orange */
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Add space between buttons */
}

button:hover {
  background-color: #cc5200; /* Darker shade of orange for hover */
}

.footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.footer a {
  color: #0077cc; /* Link color */
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


